.desc {
    margin-top: 100px;
    margin-bottom: 100px;
}

.desc img {
    width: 500px;
}

.desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn1 {
    box-sizing: border-box;
    appearance: none;
    color: #000;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.btn1:hover, .btn1:focus {
    color: #000;
    outline: 0;
}
.first1 {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first1:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}


.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
