body {
    margin: 0;
    font-family: 'Ваш_шрифт', sans-serif;
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    overflow: hidden; /* Добавленный стиль для блокировки скролла */
}

.popup.show-popup + .overlay {
    display: block;
}

body.popup-open {
    overflow: hidden; /* Добавленный стиль для блокировки скролла */
}


body.popup-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 520px;
    width: 600px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-top: 2px solid rgba(7, 14, 205, 0.982);
    border-radius: 12px 12px 0px 0px;
}

.popup.show-popup {
    display: block;
    z-index: 1000;
}


.popup-input-menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-label {
    margin-bottom: 5px;
    margin-top: 10px;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #888;
    cursor: pointer;
}

.popup-input,
.popup-input[type="file"],
.popup-input[type="date"],
.popup-input[type="text"],
.popup-input[type="number"],
.popup-input[type="password"],
.popup-input[type="email"],
.popup-input[type="textarea"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 450px;
}

.popup-input[type="file"] {
    height: 30px;
}

.add-popup-btn {
    background-color: #0766AD;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-left: 35%;
}

.add-popup-btn:hover {
    background-color: #054b81;
}

/* Остальные стили */
.journal-main {
    margin-top: 70px;
    margin-bottom: 70px;
}

.journal-table {
    width: 98%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 15px;
}

.journal-table th:last-child,
.journal-table td:last-child {
    width: 80px;
}

.journal-table th,
.journal-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.journal-table th {
    background-color: #f2f2f2;
}

.journal-table td button {
    margin-right: 5px;
}

.journal-text {
    background-color: #DFE2ED;
    height: 100px;
    margin-bottom: 50px;
}

.journal-btn {
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    padding: 5px;
    border: 0.2px solid rgba(22, 72, 99, 0.70);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin-left: 20px;
}

.journal-btn:hover {
    background-color: rgba(22, 72, 99, 0.70);
}

.arrow-image {
    width: 16px;
    height: 16px;
    transition: filter 0.3s;
}

#texttttt {
    color: #929BA3;
}

.open-popup-btn {
    background-color: #0766AD;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
}

.open-popup-btn:hover {
    background-color: #054b81;
}
